.container {
    background-color: var(--color-gray);
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navigationList {
    display: flex;
    justify-content: center;
    column-gap: 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.link {
    display: inline-block;

    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-charcoal);
}

.activeLink {
    color: var(--color-carmine);
}