@import 'modern-normalize/modern-normalize.css';

:root {
  --color-charcoal: #101828;
  --color-steel: #475467;
  --color-slate: #6c717b;
  --color-crimson: #e44848;
  --color-carmine: #d84343;
  --color-amber: #ffc531;
  --color-silver: #dadde1;
  --color-light-gray: #f2f4f7;
  --color-gray: #f7f7f7;
  --color-white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;

  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}